<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Incremental NodeJS</title>
    <meta name="description" content="Incrmental NodeJS without Express, with Express, without Mongoose, with Mongoose" />
    <meta name="author" content="Tom Norian" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/bundle.css" />
  </head>

  <body>
    <header>
      <h3><a href="/">return to main site</a></h3>
    </header>
    <br/><hr/>
    
    <div class="container">
          <div id="content">{{{body}}}</div>
    </div>
  </body>
</html>