<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Quick NodeJS Authentication with ReactJS</title>
    <meta name="description" content="Quick NodeJS Authentication with ReactJS" />
    <meta name="author" content="Tom Norian" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/bundle.css" />
  </head>

  <body>
    <header><h1>Secret Form Page</h1></header>
    <a href="/">return to main site</a>
    <br/><hr/><br/>
    
    <div class="container">
          <div id="content">{{{body}}}</div>
    </div>
  </body>
</html>