<div class="authentication-form-outer">
  <h1>{{logintitle}}</h1>
  <div class="main">
    <div class="authentication-form">
      
      <div class="existing-user">
        <h3>Exiting-User Login</h3> 
        <div class="login-form">
          <form action="/users/login" method="post">
            <input type="text" name="email" placeholder="E-mail" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <div class="login-submit">
              <input type="submit" value="LOGIN NOW">
            </div>
          </form>
        </div>
      </div>

      <div class="register-user">
        <h3>Register</h3>
        <div class="login-form">
          <form action="/users/signup" method="post">
            <input type="text" name="email" placeholder="E-mail" required="">
            <input type="text" name="username" placeholder="Username" required="">
            <input type="password" name="password" id="password-input" onkeyup="validPassword()" placeholder="Password" required="">
            <input type="password"  id="password-match" onkeyup="passwordsMatch()" placeholder="Confirm Password" required="">
            <div class="login-submit">
              <input id="submit-register" disabled type="submit" value="REGISTER">
            </div>
          </form>
        </div>
        <div id="password-directions-message"></div>
        <div id="password-match-message"></div>
        <div id="server-message">{{registrationMessage}}</div>
      </div>
      
    </div>
    <div class="clear"></div>
  </div>
  <footer>
    <div class="footer-link">
      <div class="profile-row"><a href="#"><button > Future Link to protected route </button></a></div>
      <p><a href="/">Node Incremental Home</a></p>
    </div>  
  </footer>
  <script type="text/javascript">
    function validPassword(){ 
      let pwDirectionsEl = document.getElementById('password-directions-message');
      let currentPwValue = document.getElementById('password-input').value  || 'none';
      let filteredLength = currentPwValue.match(/[a-zA-Z0-9]/g).length ;
      
      if (currentPwValue.length ===  (filteredLength > 5 && filteredLength)) {
        pwDirectionsEl.innerHTML = "&#9989; Valid Password"
        passwordsMatch()
      }else{ 
        pwDirectionsEl.innerHTML = "&#10071; Passwords must be at least 6 characters. Letters and Numbers only.";
      }
    }
    function passwordsMatch(){
      let matchMessageEl = document.getElementById("password-match-message");
      if ( document.getElementById('password-input').value === document.getElementById('password-match').value ){
        document.getElementById('submit-register').removeAttribute("disabled");
        matchMessageEl.innerHTML = "&#9989; Match"
      }else{
        document.getElementById('submit-register').setAttribute("disabled","");
        matchMessageEl.innerHTML = "&#10071; Passwords do not match</span>"
      }  
    }
  </script>

</div>