// include another .scss file from a sub-directory
// @import './about/about.scss';

body {
    a {
        color: magenta;
    },
    h1 {
      color: blue;
    }
}

.navbar-brand{
  img{
    width: 70px;
  }
}

.hello-message{
  padding: 0px 20px;
  // background-color: yellow;
}

.generic-component{
  background-color: white;
}

.secret-component{
  background-color:black;
  color: orange;
  
  h5 {
    color: orange;
    
  }
  p {
    color: brown;
  }
}


.modal-delete-trigger{
  color: red;
  position: relative;
  display: inline-block;
  text-decoration: underline;
  cursor: pointer;
}

.modal-delete-form{
  position:absolute;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1em;
  padding: 10px;
  width: 200px;
  transform: scale(0);
  transition: all 525ms ease;
}

.modal-delete-trigger:hover .modal-delete-form{
  z-index: 600;
  display: inline-block;
  position: absolute;
  transform: scale(1);
  bottom: .75em;
}

.secret-display{
    margin: auto;
    width: 60%;
    background-color: black;
    padding: 30px;
    font-size: 1.5em;
    color: orange;
    .directions{
      background-color: grey;
      border-radius: 8px;
      display: inline-block;
      padding: 20px;
    }
    .details{
      color: gray;
      font-size: 1.2;
    }
    li {
      padding-bottom: 5px;
    }
}

.secret-form{
  width: 35%;
  margin:auto;
  background-color: grey;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  label{
    color: black;
    font-size: 1.1em;
    font-weight: bold;
  }
  input{
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  button{
    padding: 40px;
    color: white;
    background-color: red;
    border-radius: 100%;
    font-size: 2em;
    width: 50%;
    height: 200px;
    cursor: pointer;
  }
}